h1 {
    color: blueviolet;
}

.main {
    float: right;
}

.main li {
    display: inline;
}

.main a {
    text-decoration: none;
}

.main a:hover {
    text-decoration: underline;  
}

#active {
    text-decoration: underline;  
}