@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Slab:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}
body {
    font-family: 'Lato', sans-serif;
    font-weight: 300px;
}

header a, .socials {
    text-decoration: none;
}
.active {
    text-decoration: underline;
}

h1, h2 {
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ED462F;
}

#statefair {
    text-decoration: none;
    margin-left: 35px;
    font-size: 350%;
    float: left;

}

#main {
    margin-right: 35px;
    letter-spacing: 2px;
    font-size: 110%;
    list-style: none;
    float: right;

}
#main, #statefair {
    line-height: 75px;
}

#main li {
    padding: 5px;
    display: inline;
}


#main a:hover {
    text-decoration: underline; 
    color: #ED462F;  
}

#active {
    text-decoration: underline;  
}

/* State fair background and fair logo image */
#faircrowd {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#logo {
    height: 600px;
    width: 100%;
    background: url('../images/iowa_state_fair.webp') no-repeat center center;
    background-size: cover;
    
    /* animate image to zoom in and stop not revert back*/
    animation-name: faircrowd-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* background image zoom */
@keyframes faircrowd-zoom {
 from {transform: scale(1);
} to {
transform: scale(1.1);
}
}

#join, #join h2 {
    color: white;
}

#join {
    font-family: 'Roboto Slab', serif;
    font-size: 130%;
    letter-spacing: 3px;
    width: 250px;
    height: 150px;
    border-radius: 20px;
    padding: 20px 0;
    text-align: center;

    /* use rgb values for color to INCLUDE OPACITY */
    background-color: rgb(237, 70, 47, .75);
    bottom: 70px;
    right: 120px;
    position: absolute;

}

h3 {
    text-transform: uppercase;
}
#location {
    text-align: center;
    font-size: 280%;
    margin: 20px 0;
}

#left {
    width: 33%;
    height: 600px;
    padding-top: 30px;
    float: left;
    background-color: green;
}

#dates {
    width: 60%;
    float: right;
    line-height: 20px;   
    clear: both;
    margin-bottom: 50px;
    background-color: blue;
}